# Clean Demo File

To filter only roads longer than 25 km

In [1]:
import pandas as pd
import numpy as np

In [2]:
## Import lrp data
file_name = 'df_road_N1andN2.csv'
df_demo = pd.read_csv('../data/' + file_name) #df_road_N1andN2

df_demo

,Unnamed: 0,length,condition,lat,lon,intersection,model_type,id,road,name
0,0,4.0,NaN,23.706028,90.443333,NaN,sourcesink,10000,N1,NaN
1,1,1800.0,NaN,23.702383,90.451097,0,link,10001,N1,NaN
2,2,11.3,A,23.698739,90.458861,NaN,bridge,10002,N1,NaN
3,3,3125.0,NaN,23.696701,90.473318,0,link,10003,N1,NaN
4,4,6.6,A,23.694664,90.487775,NaN,bridge,10004,N1,NaN
...,...,...,...,...,...,...,...,...,...,...
3036,3036,4.0,NaN,24.916306,91.949583,N2,intersection,12147,N210,NaN
3037,3037,10844.0,NaN,24.882139,91.923152,0,link,13037,N210,NaN
3038,3038,4.0,NaN,24.848000,91.896750,N208,intersection,13038,N210,NaN
3039,3039,10844.0,NaN,24.848000,91.896750,0,link,13039,N210,NaN
3040,3040,4.0,NaN,24.848000,91.896750,NaN,sourcesink,13040,N210,NaN

In [4]:
selected_roads = ['N1', 'N102', 'N104', 'N105', 'N106', 'N2', 'N204', 'N207', 'N208'] # roads longer than 25 km; knowledge from Assignment 3
df_filtered = df_demo[df_demo['road'].isin(selected_roads)]
df_filtered

,Unnamed: 0,length,condition,lat,lon,intersection,model_type,id,road,name
0,0,4.0,NaN,23.706028,90.443333,NaN,sourcesink,10000,N1,NaN
1,1,1800.0,NaN,23.702383,90.451097,0,link,10001,N1,NaN
2,2,11.3,A,23.698739,90.458861,NaN,bridge,10002,N1,NaN
3,3,3125.0,NaN,23.696701,90.473318,0,link,10003,N1,NaN
4,4,6.6,A,23.694664,90.487775,NaN,bridge,10004,N1,NaN
...,...,...,...,...,...,...,...,...,...,...
3007,3007,6.0,A,24.622628,91.678091,NaN,bridge,13007,N207,NaN
3008,3008,425.0,NaN,24.624480,91.677809,0,link,13008,N207,NaN
3009,3009,4.0,NaN,24.626333,91.677527,N2,intersection,13009,N207,NaN
3010,3010,425.0,NaN,24.626333,91.677527,0,link,13010,N207,NaN
3011,3011,4.0,NaN,24.626333,91.677527,NaN,sourcesink,13011,N207,NaN

In [5]:
# Save the filtered DataFrame to a new CSV file
file_path = '../data/processed/'
output_file_name = 'demo_100.csv'
df_filtered.to_csv(file_path + output_file_name, index=False)